html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Helvetica Neue';
  background-color: rgba(0, 0, 0, 0.05);
  background-size: 8px 8px;
}
