@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url(https://1.www.s81c.com/common/fonts/hni-v2-roman.woff2);
  font-weight: 500;
  font-style: normal;
}

.c3 svg {
  font-family: "Helvetica Neue for IBM", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Noto Sans", Noto, sans-serif;
}

.c3-axis path, .c3-grid line {
  animation: dash forwards;
  opacity: 1 !important;
  stroke: #CDDBF1;
}

.c3 .tick line, path.domain {
  display: none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
