// scss-lint:disable all

.ibm-chart {
  max-width: 1200px;
  margin: 0 auto;
  
  font-family: "Helvetica Neue for IBM", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Noto Sans", Noto, sans-serif;
  
  //padding: 60px 75px;
  
  &__title {
    font-size: 1.25em;
  }
  
  &__h3 {
    color: color('blue', 40);
    height: 5%;
    font-size: .875em;
  }

  &__chart {
    font-weight: .75em;
    max-width: 815px;// width in design -- ideally would be percentages, right?
    // margin: 0 auto;
    margin-top: 2em; //changed to ems 32px
  }
  
  &__desc {
    max-width: 560px;
    font-size: .875em;
  }
  
  .tick line {
    opacity: 0;
  }


  /* copied from James' pen: */

  @font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url(https://1.www.s81c.com/common/fonts/hni-v2-roman.woff2);
    font-weight: 500;
    font-style: normal;
  }

  .c3 svg {
   font-size: 100%;
      font-family: "Helvetica Neue for IBM", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Noto Sans", Noto, sans-serif;
  }

  .c3-axis path, .c3-grid line {
    animation: dash 3s linear .1s forwards;
    stroke: #CDDBF1;
  }
  
  .c3 text {
    font-size: .75em;
  }

  .c3 .tick line {
    display: none;
  }

  /* trying to translate axis labels to give proper padding */
  .c3-axis-y-label {
     transform: rotate(-90deg) translate(0px, -16px)
  }
  
    .c3-axis-x-label {
     transform: translate(0px, 16px)
  }
  
  // .c3-tooltip-container, .CodeMirror {
  //   display: none;
  //   visibility:hidden;
  //   opacity: 0;
  // }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

}
